/* ヘッダーとフッターここから */
body{
	margin: 0;
	display: flex;
	flex-flow: column;
	min-height: 100vh;
}
header{
	background-color: #dddddd;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	padding-bottom: 10px;
}
header img{
	width: 150px;
	height: auto;
	margin-left: 20px;
}
header .btn{
	height: 40px;
	margin-right: 20px;
}
.main{
	flex: 1;
}
footer{
	background-color: #dddddd;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-between;
}
.sns-icon{
	margin: auto 20px;
}
.sns-icon img{
	width: 50px;
	height: 50px;
}
.inquiry{
	margin: auto 20px;
	display: block;
}
/* ヘッダーとフッターここまで */

/* 共通CSSココから */
.btn-center{
	margin: 10px auto;
	display: block;
	width: 70%;
}
input{
	margin-bottom: 30px;
}
/* 共通CSSココまで */

/* topページここから */
.main-img img{
	width: 100%;
	margin-bottom: 20px;
}
.content{
	border: 1px solid #666666;
	margin: 10px 0;
	padding: 10px;
}
.content-title{
	display: flex;
	justify-content: space-between;
}
.content-title h2{
	margin-top: 0;
}
.content-footer{
	display: flex;
	justify-content: space-between;
}
.more{
	margin: 10px auto;
	display: block;
}
/* topページここまで */

/* ログインページココから */
.l-content{
	margin: 20px auto;
	display: flex;
}
.login-content{
	border: 1px solid #666666;
	height: 500px;
	margin-right: 5%;
	width: 45%;
	padding: 10px;
}
.newuser-content{
	border: 1px solid #666666;
	height: 500px;
	margin-left: 5%;
	width: 45%;
	padding: 10px;
}
.l-content h3{
	margin-bottom: 30px;
}

/* ログインページココまで */

/* ユーザー新規登録ここから */


/* ユーザー新規登録ここまで */