header{
	background-color: #dddddd;
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: space-between;
}
header{
	background-color: #dddddd;
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: space-between;
}
